<div>

	<bars data="40,4,55,15,16,33,52,99"></bars>

	<newbars data="1,2,3,4,5,6,7,8,9,10"></newbars>
	<!--<newbars data="334,432,20,423,430,415,408,433,132,421,215,433,430,420,257,416,73,423,431,416,50,15,28,36,131,61,34,19,45,23,18,69,206,208,211,289,269,300,311,295,302,285,372,349,363,354,406,487,406,398,711,565,625,371,174,802,380,891,252,769,156,606,145,139,810,77,103,1031,132,69,1009,934,183,1001,906,1017,1038,996,935,1068,1040,936,71,191,157,186,323,119,291,142,319,163,323,154,159,216,119,197,61,119,12,8,27,76,38,70,33,44,10,11,39,77,12,372,108,84,185,25,125,254,110,135,74,161,10,89,84,62,73,9,72,80,29,92,15,147,5,137,137,62,87,58,130,91,95,88,126,794,855,31,26,58,23,17,9,56,67,553,237,25,130,29,5,5,17,36,96,157,219,236,195,201,173,398,173,297,69,100,140,215,152,182,131,92,183,72,52,819,22,150,96,25,32,158,148,67,803,24,27,83,13,196,66,847,189,22,71,297,922,30,348,187,95,187,1052,300,38,95,304,9,69,326,219,254,304,86,79,172,825,226,230,10,8,11,206,7,22,167,17,270,32,157,323,141,65,18,352,372,231,322,301,310,477,506,414,409,301,588,553,49,467,484,379,530,428,475,519,487,638,514,494,516,427,428,508,499,7,523,125,253,26,206,104,37,68,144,123,178,85,33,24,16,382,22,154,30,26,69,104,101,78,30,206,415,49,61,30,34,131,127,143,19,105,34,338,91,42,79,162,49,84,47,118,152,322,58,250,151,11,202,209,40,218,173,290,51,413,87,270,241,134,434,28,112,262,33,42,183,243,143,241,206,50,305,264,326,41,189,562,250,351,290,255,8,160,372,256,416,365,239,284,365,361,267,268,262,746,283,278,228,173,215,128,166,27,36,119,159,69,56,142,142,88,93,41,172,156,53,161,90,273,37,26,43,52,23,99,79,75,33,86,41,68,129,146,105,234,20,28,166,103,371,70,18,62,20,73,97,7,185,348,238,263,13,397,7,35,119,76,46,10,535,22,11,183,289,102,121,37,376,443,281,459,453,342,69,284,462,96,325,288,361,402,67,467,312,447,495,225,77,391,634,599,529,582,38,414,580,538,600,363,450,450,454,451,54,398,263,501,310,338,56,632,251,92,20,10,75,11,98,110,316,204,157,230,137,124,80,230,190,249,21,196,202,98,189,169,236,99,498,250,131,51,106,238,73,40,30,694,90,386,11,29,67,159,18,150,36,6,102,16,72,123,147,77,154"></newbars>-->

	<h3>Select file</h3>
	<input type="file" on-read-file="loadFileContent($fileContent)" />
	<div ng-if="content">
		<h2>File content is:</h2>
		<pre>{{ content | json }}</pre>
	</div>

	<button data-ng-click="getResults()">get results</button>
		<pre>{{results | json}}</pre>


	<div style="border:1px red solid;font-size:10px" data-ng-repeat="loadTest in loadTests">
		<!--{{loadTest.labels}}-->
		<pre>{{loadTest.indexedData | json}}</pre>
	</div>

</div>
